http/src/main/app/apirouterexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <apikit:config name="WebConsumerAPI" raml="GetFromWebConsumer.raml" consoleEnabled="true" consolePath="console" keepRamlBaseUri="false" doc:name="Router"/>
    <ws:consumer-config name="ForceUnitConvertWebService" wsdlLocation="http://www.webservicex.net/ConvertForec.asmx?WSDL" service="ForceUnit" port="ForceUnitSoap12" serviceAddress="http://www.webservicex.net/ConvertForec.asmx" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTPListener:7080" host="localhost" port="7080" doc:name="HTTP Listener Configuration" basePath="/crud"/>
    <flow name="api-main">
        <http:listener config-ref="HTTPListener:7080" path="/" doc:name="HTTP"/>
        <apikit:router config-ref="WebConsumerAPI" doc:name="APIkit Router"/>
    </flow>
    <flow name="post:/WebConsumer:WebConsumerAPI">
        <json:json-to-object-transformer returnClass="au.phun.model.Conversion" doc:name="ConversionToConversion"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="174dab0c-568f-4264-a943-6cb82e6f95b1">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.webserviceX.NET/
---
{
	ns0#ChangeForceUnit: {
		ns0#ForceValue: payload.valueToConvert,
		ns0#fromForceUnit: payload.fromUnit,
		ns0#toForceUnit: payload.toUnit
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="ForceUnitConvertWebService" operation="ChangeForceUnit" doc:name="Call Force Unit WebService"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cf2badfc-79e5-49d8-aed3-22338c3861b8">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.webserviceX.NET/
---
{
	value: payload.ns0#ChangeForceUnitResponse.ns0#ChangeForceUnitResult
} as :object {
	class : "au.phun.model.Response"
}]]></dw:set-payload>
        </dw:transform-message>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
    </flow>
    <flow name="get:/WebConsumer:WebConsumerAPI">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="All Good" doc:name="Set Payload"/>
    </flow>
    
    <flow name="api-console">
	   <http:listener config-ref="HTTPListener:7080" path="/console/*" doc:name="HTTP"/>
	
	   <apikit:console config-ref="WebConsumerAPI" doc:name="APIkit Console"/>
</flow>
</mule>
